@media only screen and (max-width: 487px) {
  .item {
    width: 100%;
    height: 410px;
    margin-top: 40px;
    background: #f1f3ff;
    margin-left: -1%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  }

  .img-profil {
    width: 120px;
    height: auto;
    margin-top: 10%;
    margin-left: 33%;
  }

  .img-rate {
    width: 138px;
    height: auto;
    margin-left: 31%;
    margin-top: 8%;
  }

  .desc-testi {
    width: 75%;
    margin-top: 5%;
    margin-left: 13%;
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .jumbtron-section {
    margin-top: -30px;
  }

  .ourservice-section {
    margin-top: -20px;
  }

  .ourservice-section h1 {
    margin-top: 25px;
  }

  .whyus-section {
    margin-top: -20px;
  }

  .testimony-section {
    margin-top: -38px;
  }

  .ctabanner-section {
    margin-top: -40px;
  }

  .FAQ-section {
    margin-top: -30px;
  }

  .footer-section {
    margin-top: 60px;
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 1024px) {
  .navbar-section {
    padding-top: 20px;
  }

  .openbtn {
    display: none;
  }
}
